[
 ;;;;;;;;;;;;;;;;users
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/username
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "The user's unique username"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/firstname
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "The user's first name"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/lastname
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "The user's last name"
  :db.install/_attribute :db.part/db}

;;;;;;;;;;;;; messages
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :message/from-user-id
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "The id of the user who sent the message"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :message/to-user-id
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The id of the user(s) who recieved the message"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :message/text
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "The contents of the message"
  :db.install/_attribute :db.part/db}

 ]
